@page "/weather"
@using Personal_Doctor.Components.MyComponents
@using Personal_Doctor.Data
@attribute [StreamRendering]

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ClinicRepository ClinicRepository
@inject NavigationManager NavigationManager

@if (_hidePage)
{
    <p>Вам заборонено переглядати цю сторінку.</p>
}
else if (_clinics != null)
{
    <ClinicList Clinics="_clinics" />
}
else
{
    <p>Завантаження...</p>
}

@code {
    private List<Clinic>? _clinics;
    private bool _hidePage = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true && user.IsInRole("Doctor"))
        {
            _hidePage = true;
            return;
        }

        _clinics = await ClinicRepository.GetAllAsync();
    }
}

